body {
    background-color:blanchedalmond;
}
#idDugme {
    background-color: bisque;
    flex: auto;
}
#idDugme1 {
    background-color: bisque;
    flex: auto;
}
#idDugme2 {
    background-color: bisque;
    flex: auto;
}
#idDugme3 {
    background-color: bisque;
    flex: auto;
}